<h1>{{ section.settings.title }}</h1>

{% for product in section.settings.featured_collection.products %}
  <span>hello</span>
  {% render 'product-card', product: product %}  
{% endfor %}


{% schema %}
{
  "name": "Featured Collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "default": "Featured Collection",
      "label": "Title"
    },  
    {
      "type": "text",
      "id": "featured_collection",
      "label": "collection"
    } 
  ]
}
{% endschema %}